a{
    text-decoration: none;
}
.Weather{
    background-image: url(/imgs/bg3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 40px;
    border-radius: 8px;
    color: #000;
}

.Weather form{
    border-bottom: 1px solid #A3D2E4;;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.Weather h1{
    font-family: 'Poppins', sans-serif ;
    color: #314ba1;
    font-size: 38px;
    font-weight: bold;
    margin: 20px 0 10px 0;
    line-height: 29px;
}

.Weather ul{
margin: 0;
margin-top:5px;
margin-bottom:20px;
padding: 0;
color: #000;

}

.Weather li{
font-size: 16px;
font-weight: 400;
opacity: 0.8;
line-height: 21px;
list-style: none;
}

.Weather .temperature{
    color: #000;
    font-size: 64px;
    line-height: 1;
    font-weight: 400;

}

.Weather canvas{
    margin-right: 5px;
   
}

.Weather .unit{
    position: relative;
    font-size: 14px;
    top: -34px;
    margin-left: 5px;
    }

.Weather .w-btn{
    background-color: #314ba1;
    color: #fff;
}

.Weather .form-control{

    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    appearance: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #A3D2E4;
    border-radius: 6px;
    transition: #fff 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .Weather .form-control:focus{
    color: #212529;
    background-color: #fff;
    border-color: #A3D2E4;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(12, 75, 161, 0.251);
}

.WeatherForecast{
padding-top: 15px;
}


